Pada Latihan kali ini, akan menerapkan teknik data wraagling atau pembersihan data dengan menggunakan beberapa fungsi atau method yang sudah di bahasa pada teori, jadi hasil nya adalah data yg bersih dan siap untuk di pakai

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Harus di Jalankan / Running
#sebelum menjalankan cell berikutnya, jika tidak akan error

**Memuat tabel** dan membuat dataframe

In [ ]:
mhs_df = pd.read_csv('/content/mahasiswa.csv')

# untuk mendapatkan link file (/content/mahasiswa.csv) harus upload filenya dan copy path pada titik 3 nama file, path bisa berbeda sesuai dengan nama file yang di masukan

#import file csv

![Screenshot 2025-11-21 213941.png]()

**Load tabel**

In [ ]:
mhs_df.head()
#melihat 5 data teratas

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150,59.5,82.0,2024-05-05
1,E0002,Budi,teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,twenty,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999,65.0,2024-03-22

In [ ]:
mhs_df.tail()
#melihat 5 data terakhir

      nim   nama      jurusan  umur nilai_akhir  kehadiran_pct tanggal_daftar
73  E0057  Fauzi       Energi  23.0        58.2           76.0     2024-02-05
74  E0039   Mita       Energi  23.0        77.2           79.0     2024-01-04
75  E0069  Salsa  Informatika  23.0        63.4           86.0     2024-04-14
76  E0031   Eros  Informatika  23.0        68.0           66.0     2024-02-27
77  E0026   Zara  Informatika  24.0        90.4           82.0     2024-11-24

**Assessing Data**

In [ ]:
mhs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     76 non-null     object
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.4+ KB

dari hasil infor terdapat jumlah data yg tidak konsisten ada 2 kolom yg jumlah nya 28 sedangkan yg lainya hanya 76

In [ ]:
mhs_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Terdapat 5 kolom yang NaN atau missing values

In [ ]:
print("Jumlah duplikasi: ", mhs_df.duplicated().sum())

Jumlah duplikasi:  8

Lalu terdapat juga 8 data duplikasi

**Cleaning Data**

Menghilangkan duplicate data dengan  drop_duplicates()

In [ ]:
mhs_df.drop_duplicates(inplace=True)

In [ ]:
print("Jumlah duplikasi: ", mhs_df.duplicated().sum())

Jumlah duplikasi:  0

Sekarang data duplikat sudah selesai

**Menangani missing value**

In [ ]:
mhs_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [ ]:
mhs_df['jurusan'] = mhs_df['jurusan'].fillna("Pembangkit Energi")

#di sini untuk jurusan di isi dengan "Pembangkit Energi"

In [ ]:
mhs_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [ ]:
mhs_df['umur'] = mhs_df['umur'].fillna(23)

In [ ]:
mhs_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [ ]:
mhs_df['nilai_akhir'] = pd.to_numeric(mhs_df['nilai_akhir'], errors='coerce') #konversi tipe data menjadi numeric yaitu float

mhs_df['nilai_akhir'].mean() #mecari rata-rata

np.float64(88.15384615384616)

In [ ]:
mhs_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     object
 4   nilai_akhir     65 non-null     float64
 5   kehadiran_pct   68 non-null     float64
 6   tanggal_daftar  68 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.4+ KB

Jika kita lihat di sini tipe dara pada nilai_akhir sudah berubah menjadi float

In [ ]:
mhs_df['nilai_akhir'] = mhs_df['nilai_akhir'].fillna(88)
#sekarang isi missing value pada nilai_akhir dengan nilai rata-rata yg sudah di dapat sebelumnya

In [ ]:
mhs_df.isna().sum()
#cek hasilnya

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

**Lakukan untuk kolom Kehadiran**

In [ ]:
mhs_df['kehadiran_pct'] = pd.to_numeric(mhs_df['kehadiran_pct'], errors='coerce') #konversi tipe data menjadi numeric yaitu float

mhs_df['kehadiran_pct'].mean() #mecari rata-rata

np.float64(82.13235294117646)

In [ ]:
mhs_df['kehadiran_pct'] = mhs_df['kehadiran_pct'].fillna(82)
#sekarang isi missing value pada nilai_akhir dengan nilai rata-rata yg sudah di dapat sebelumnya

In [ ]:
mhs_df.isna().sum()
#cek hasilnya

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    2
dtype: int64

Lakukan untuk kolom tanggal daftar

In [ ]:
mhs_df['tanggal_daftar'] = mhs_df['tanggal_daftar'].fillna('2024-03-24')

# karena tanggal lagir di sini bertipe string jadi langsung masukan saja tidak perlu di cari rata-rata nya atau konversi ke numerik

In [ ]:
mhs_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

Sekarang tidak ada lagi data missing atau NaN

**Menangani inaccurate value**

In [ ]:
mhs_df.jurusan.value_counts()

jurusan
Energi               21
Informatika          17
Teknik               12
Manajemen Energi     11
Pembangkit Energi     2
teknik                1
 energi               1
ManajemenEnergi       1
EnErGi                1
Teknik                1
ENG                   1
ENERGI                1
Name: count, dtype: int64

In [ ]:
mhs_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Terdapat 2 kolom yang datanya tidak akurat atau  inaccurate value

In [ ]:
mhs_df['jurusan'] = mhs_df['jurusan'].str.lower().str.strip()
#ubah menjadi huruf kecil

In [ ]:
mhs_df.jurusan.value_counts()

jurusan
energi               24
informatika          17
teknik               14
manajemen energi     11
pembangkit energi     2
manajemenenergi       1
eng                   1
Name: count, dtype: int64

In [ ]:
#untuk memudahkan replacing maka di buatkan mapping jurusan sesuai dengan yg di inginkan, dengan kata-kata yg mirip di masukan ke jurusan yg seusai

mapping_jurusan = {
    "energi": "Pembangkit Energi",
    " energi ": "Pembangkit Energi",
    "ENERGI": "Pembangkit Energi",
    "EnErGi": "Pembangkit Energi",
    "eng": "Pembangkit Energi",
    "teknik": "Pembangkit Energi",
    "Teknik ": "Pembangkit Energi",
    "teknik ": "Pembangkit Energi",
    "manajemenenergi": "Manajemen Energi",
    "manajemen energi": "Manajemen Energi"
}

In [ ]:
mhs_df["jurusan"] = mhs_df["jurusan"].replace(mapping_jurusan)

In [ ]:
mhs_df["jurusan"] = mhs_df["jurusan"].str.title()

#kemablikan menjadi huruf besar

In [ ]:
mhs_df.jurusan.value_counts()

jurusan
Pembangkit Energi    41
Informatika          17
Manajemen Energi     12
Name: count, dtype: int64

In [ ]:
print("Hasil setelah normalisasi dan pemetaan:")
print(mhs_df['jurusan'].value_counts())

Hasil setelah normalisasi dan pemetaan:
jurusan
Pembangkit Energi    41
Informatika          17
Manajemen Energi     12
Name: count, dtype: int64

Sekarang untuk inaccurate  value pada kolom jurusan sudah selesai dan tidak da yg type atau tidak terkelompok dengan benar

**Selanjutnya lakuakan untuk kolom nilai **

In [ ]:
mhs_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

di sini terlihat beberapa data yg tidak konsisten seperti (150, -5, twenty, 120,NaN_string, 21years

Selanjutnya lakukan seperti pada kolom jurusan , bisa di lakukan mapping atau di ganti satu persatu, karena di sini jumlah data yg inkonsisten hanya satum jadi bisa di replace saja

In [ ]:
mhs_df['umur'] = mhs_df['umur'].replace('twenty', 20)

#bisa di lakuakn replace satu persatu seperti ini
# dari sebelumnya twenty menjadi 20

In [ ]:
print(mhs_df['umur'].value_counts())

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
20             1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Bisa di lakuakn replace satu persatu seperti di atas atau mapping kembali seperti jurusan sebelumnya

In [ ]:
"""mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': np.nan,
    -5: np.nan,
    120: np.nan,
    150: np.nan
}
"""
#untuk nilai yang NaN_string, -5, 120, 150 bisa langsung di ganti dengan rata-rata umur atau di jadikan missing value, tetapi jika di jadikan missing value maka setelah ini anda akan mengganti missing value tersebut, jadi sebelum itu lebih baik  di cari rata-rata nya terlebih dahulu lalu di ganti pada mappingan ini

In [ ]:
mhs_df['umur'] = pd.to_numeric(mhs_df['umur'], errors='coerce')
mhs_df['umur'].mean()

np.float64(25.220588235294116)

Sekarang setelah di konversi menjadi numerik maka di dapat nilai rata-rata, dan selanjutnya isikan pada mappinganya

In [ ]:
mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': 25,
    -5: 25,
    120: 25,
    150: 25
}

In [ ]:
mhs_df['umur'] = mhs_df['umur'].replace(mapping_umur)

In [ ]:
print("Hasil setelah pemetaan:")
print(mhs_df['umur'].value_counts())
print(f"\nTipe data kolom 'umur' sekarang: {mhs_df['umur'].dtype}")

Hasil setelah pemetaan:
umur
23.0    17
25.0    13
20.0    10
24.0     9
22.0     8
19.0     7
21.0     4
Name: count, dtype: int64

Tipe data kolom 'umur' sekarang: float64

Sekarang kolom umur sudah tidak ada lagi data yg inaccruate,tetapi harus di pastikan lagi seperti di bawah ini

In [ ]:
mhs_df.isna().sum()
#ternyata terdapat 2 nilai yang NaN pada kolom umur

nim               0
nama              0
jurusan           0
umur              2
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

In [ ]:
mhs_df.head(50)
#untuk memastika bisa menggunakan sintaks di atas dengan masukan value baris yang ingin di lihat, cara ini juga bisa di lakukan untuk tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Pembangkit Energi,25.0,59.5,82.0,2024-03-24
1,E0002,Budi,Pembangkit Energi,20.0,84.5,99.0,2024-03-24
2,E0003,Citra,Pembangkit Energi,25.0,56.2,78.0,2024-03-24
3,E0004,Dewi,Pembangkit Energi,20.0,63.0,99.0,2024-03-24
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-24
5,E0006,Fajar,Pembangkit Energi,21.0,-20.0,78.0,2024-03-24
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-03-24
7,E0008,Hendra,Pembangkit Energi,25.0,56.7,-10.0,2024-03-24
8,E0009,Ika,Informatika,25.0,58.2,83.0,2024-03-24
9,E0010,Joko,Pembangkit Energi,23.0,62.7,69.0,2024-03-24
10,E0011,Kiki,Pembangkit Energi,25.0,66.6,70.0,2024-03-24
11,E0012,Lina,Informatika,22.0,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21.0,63.4,82.0,2024-03-24
13,E0014,Nando,Pembangkit Energi,23.0,80.4,99.0,2024-03-24
14,E0015,Oki,Pembangkit Energi,22.0,70.2,100.0,2024-03-24
15,E0016,Putu,Pembangkit Energi,25.0,85.7,68.0,2024-03-24
16,E0017,Qori,Pembangkit Energi,25.0,67.6,82.0,2024-03-24
17,E0018,Rina,Pembangkit Energi,23.0,90.1,85.0,2024-03-24
18,E0019,Sari,Informatika,22.0,90.4,94.0,2024-03-24
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-03-24
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-03-24
21,E0022,Vina,Pembangkit Energi,NaN,75.4,70.0,2024-03-24
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-03-24
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-03-24
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-03-24
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-03-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,2024-03-24
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-03-24
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-03-24
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-03-24
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-03-24
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-03-24
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-03-24
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-24
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-03-24
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-03-24
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-03-24
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-03-24
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,2024-03-24
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-03-24
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-24
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-03-24
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-03-24
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-03-24
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-03-24
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024-03-24
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-03-24
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,2024-03-24
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-03-24

In [ ]:
mhs_df.tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-03-24
21,E0022,Vina,Pembangkit Energi,NaN,75.4,70.0,2024-03-24
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-03-24
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-03-24
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-03-24
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-03-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,2024-03-24
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-03-24
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-03-24
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-03-24
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-03-24
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-03-24
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-03-24
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-24
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-03-24
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-03-24
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-03-24
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-03-24
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,2024-03-24
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-03-24
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-24
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-03-24
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-03-24
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-03-24
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-03-24
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024-03-24
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-03-24
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,2024-03-24
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-03-24
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-03-24
51,E0052,Adel,Informatika,23.0,61.6,65.0,2024-03-24
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-03-24
53,E0054,Cahyo,Pembangkit Energi,NaN,62.6,78.0,2024-03-24
54,E0055,Dina,Pembangkit Energi,24.0,67.5,68.0,2024-03-24
55,E0056,Edo,Pembangkit Energi,23.0,88.0,98.0,2024-03-24
56,E0057,Fauzi,Pembangkit Energi,23.0,58.2,76.0,2024-03-24
57,E0058,Gita,Pembangkit Energi,24.0,89.5,90.0,2024-03-24
58,E0059,Hadi,Informatika,23.0,78.8,70.0,2024-03-24
59,E0060,Ilham,Informatika,21.0,88.0,85.0,2024-03-24
60,E0061,Jaya,Informatika,22.0,60.2,84.0,2024-03-24
61,E0062,Kirana,Pembangkit Energi,25.0,92.4,65.0,2024-03-24
62,E0063,Lutfi,Pembangkit Energi,19.0,76.5,97.0,2024-03-24
63,E0064,Mega,Pembangkit Energi,21.0,90.2,80.0,2024-03-24
64,E0065,Nadia,Informatika,23.0,72.5,99.0,2024-03-24
65,E0066,Oleh,Pembangkit Energi,23.0,94.4,98.0,2024-03-24
66,E0067,Putri,Pembangkit Energi,24.0,59.1,82.0,2024-03-24
67,E0068,Rafi,Informatika,19.0,84.7,74.0,2024-03-24
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-03-24
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-03-24

Terdapat Missing value pada baris 21 dan 54

untuk itu bisa di lakukan replace lagi dengan memasukan rata-rata umur seperti sebelumnya

In [ ]:
mhs_df['umur'].mean() #mencari rata-rata

np.float64(22.426470588235293)

In [ ]:
mhs_df['umur'] = mhs_df['umur'].fillna(22) #isi dengan nilai rata-rata

In [ ]:
mhs_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

Setelah di cek sudah tidak ada lagi data yang missing pada semua kolom data

In [ ]:
mhs_df.duplicated().sum()

np.int64(0)

Untuk pulikat juga sama tidak ada data yang duplikat

Untuk memverifikasi bisa show head() dan tail() seperti di bawah ini atau count duplicates() dan isnan()

In [ ]:
mhs_df.head(55)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Pembangkit Energi,25.0,59.5,82.0,2024-03-24
1,E0002,Budi,Pembangkit Energi,20.0,84.5,99.0,2024-03-24
2,E0003,Citra,Pembangkit Energi,25.0,56.2,78.0,2024-03-24
3,E0004,Dewi,Pembangkit Energi,20.0,63.0,99.0,2024-03-24
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-24
5,E0006,Fajar,Pembangkit Energi,21.0,-20.0,78.0,2024-03-24
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-03-24
7,E0008,Hendra,Pembangkit Energi,25.0,56.7,-10.0,2024-03-24
8,E0009,Ika,Informatika,25.0,58.2,83.0,2024-03-24
9,E0010,Joko,Pembangkit Energi,23.0,62.7,69.0,2024-03-24
10,E0011,Kiki,Pembangkit Energi,25.0,66.6,70.0,2024-03-24
11,E0012,Lina,Informatika,22.0,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21.0,63.4,82.0,2024-03-24
13,E0014,Nando,Pembangkit Energi,23.0,80.4,99.0,2024-03-24
14,E0015,Oki,Pembangkit Energi,22.0,70.2,100.0,2024-03-24
15,E0016,Putu,Pembangkit Energi,25.0,85.7,68.0,2024-03-24
16,E0017,Qori,Pembangkit Energi,25.0,67.6,82.0,2024-03-24
17,E0018,Rina,Pembangkit Energi,23.0,90.1,85.0,2024-03-24
18,E0019,Sari,Informatika,22.0,90.4,94.0,2024-03-24
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-03-24
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-03-24
21,E0022,Vina,Pembangkit Energi,22.0,75.4,70.0,2024-03-24
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-03-24
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-03-24
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-03-24
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-03-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,2024-03-24
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-03-24
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-03-24
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-03-24
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-03-24
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-03-24
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-03-24
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-24
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-03-24
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-03-24
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-03-24
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-03-24
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,2024-03-24
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-03-24
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-24
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-03-24
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-03-24
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-03-24
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-03-24
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024-03-24
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-03-24
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,2024-03-24
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-03-24
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-03-24
51,E0052,Adel,Informatika,23.0,61.6,65.0,2024-03-24
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-03-24
53,E0054,Cahyo,Pembangkit Energi,22.0,62.6,78.0,2024-03-24
54,E0055,Dina,Pembangkit Energi,24.0,67.5,68.0,2024-03-24

In [ ]:
mhs_df.tail()

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
65,E0066,Oleh,Pembangkit Energi,23.0,94.4,98.0,2024-03-24
66,E0067,Putri,Pembangkit Energi,24.0,59.1,82.0,2024-03-24
67,E0068,Rafi,Informatika,19.0,84.7,74.0,2024-03-24
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-03-24
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-03-24

In [ ]:
mhs_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     float64
 4   nilai_akhir     70 non-null     float64
 5   kehadiran_pct   70 non-null     float64
 6   tanggal_daftar  70 non-null     object
dtypes: float64(3), object(4)
memory usage: 6.4+ KB

JIka di lihat pada info, maka semua jumlah data sama yaitu 70, maka proses Pembersihan data sudah selesai

Export data yang sudah di bersihkan menjadi file csv, menggunakan script berikut ini

In [ ]:
mhs_df.to_csv("mahasiswa_clean.csv", index=False)

Lalu lakukan Dodownload file csv yang sudah di export sebelumnya

In [ ]:
from google.colab import files
files.download("nahasiswa_clean.csv")

Bandingkan hasil data csv sebelumnya dengan csv yang sudah di bersihkan
bisa di buka menggunakan excel / spreadsheet untuk membandingaknya

**Silahkan di jelskan langkah-langkah dan hasil latihan pada laporan**

---

In [ ]:
test_df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
test_df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
test_df.head(60)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0
11,-114.60,33.60,21.0,1988.0,483.0,1182.0,437.0,1.6250,62000.0
12,-114.61,34.84,48.0,1291.0,248.0,580.0,211.0,2.1571,48600.0
13,-114.61,34.83,31.0,2478.0,464.0,1346.0,479.0,3.2120,70400.0
14,-114.63,32.76,15.0,1448.0,378.0,949.0,300.0,0.8585,45000.0
15,-114.65,34.89,17.0,2556.0,587.0,1005.0,401.0,1.6991,69100.0
16,-114.65,33.60,28.0,1678.0,322.0,666.0,256.0,2.9653,94900.0
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
18,-114.66,32.74,17.0,1388.0,386.0,775.0,320.0,1.2049,44000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
20,-114.68,33.49,20.0,1491.0,360.0,1135.0,303.0,1.6395,44400.0
21,-114.73,33.43,24.0,796.0,243.0,227.0,139.0,0.8964,59200.0
22,-114.94,34.55,20.0,350.0,95.0,119.0,58.0,1.6250,50000.0
23,-114.98,33.82,15.0,644.0,129.0,137.0,52.0,3.2097,71300.0
24,-115.22,33.54,18.0,1706.0,397.0,3424.0,283.0,1.6250,53500.0
25,-115.32,32.82,34.0,591.0,139.0,327.0,89.0,3.6528,100000.0
26,-115.37,32.82,30.0,1602.0,322.0,1130.0,335.0,3.5735,71100.0
27,-115.37,32.82,14.0,1276.0,270.0,867.0,261.0,1.9375,80900.0
28,-115.37,32.81,32.0,741.0,191.0,623.0,169.0,1.7604,68600.0
29,-115.37,32.81,23.0,1458.0,294.0,866.0,275.0,2.3594,74300.0
30,-115.38,32.82,38.0,1892.0,394.0,1175.0,374.0,1.9939,65800.0
31,-115.38,32.81,35.0,1263.0,262.0,950.0,241.0,1.8958,67500.0
32,-115.39,32.76,16.0,1136.0,196.0,481.0,185.0,6.2558,146300.0
33,-115.40,32.86,19.0,1087.0,171.0,649.0,173.0,3.3182,113800.0
34,-115.40,32.70,19.0,583.0,113.0,531.0,134.0,1.6838,95800.0
35,-115.41,32.99,29.0,1141.0,220.0,684.0,194.0,3.4038,107800.0
36,-115.46,33.19,33.0,1234.0,373.0,777.0,298.0,1.0000,40000.0
37,-115.48,32.80,21.0,1260.0,246.0,805.0,239.0,2.6172,88500.0
38,-115.48,32.68,15.0,3414.0,666.0,2097.0,622.0,2.3319,91200.0
39,-115.49,32.87,19.0,541.0,104.0,457.0,106.0,3.3583,102800.0
40,-115.49,32.69,17.0,1960.0,389.0,1691.0,356.0,1.8990,64000.0
41,-115.49,32.67,29.0,1523.0,440.0,1302.0,393.0,1.1311,84700.0
42,-115.49,32.67,25.0,2322.0,573.0,2185.0,602.0,1.3750,70100.0
43,-115.50,32.75,13.0,330.0,72.0,822.0,64.0,3.4107,142500.0
44,-115.50,32.68,18.0,3631.0,913.0,3565.0,924.0,1.5931,88400.0
45,-115.50,32.67,35.0,2159.0,492.0,1694.0,475.0,2.1776,75500.0
46,-115.51,33.24,32.0,1995.0,523.0,1069.0,410.0,1.6552,43300.0
47,-115.51,33.12,21.0,1024.0,218.0,890.0,232.0,2.1010,46700.0
48,-115.51,32.99,20.0,1402.0,287.0,1104.0,317.0,1.9088,63700.0
49,-115.51,32.68,11.0,2872.0,610.0,2644.0,581.0,2.6250,72700.0
50,-115.52,34.22,30.0,540.0,136.0,122.0,63.0,1.3333,42500.0
51,-115.52,33.13,18.0,1109.0,283.0,1006.0,253.0,2.1630,53400.0
52,-115.52,33.12,38.0,1327.0,262.0,784.0,231.0,1.8793,60800.0
53,-115.52,32.98,32.0,1615.0,382.0,1307.0,345.0,1.4583,58600.0
54,-115.52,32.97,24.0,1617.0,366.0,1416.0,401.0,1.9750,66400.0
55,-115.52,32.97,10.0,1879.0,387.0,1376.0,337.0,1.9911,67500.0
56,-115.52,32.77,18.0,1715.0,337.0,1166.0,333.0,2.2417,79200.0
57,-115.52,32.73,17.0,1190.0,275.0,1113.0,258.0,2.3571,63100.0
58,-115.52,32.67,6.0,2804.0,581.0,2807.0,594.0,2.0625,67700.0
59,-115.53,34.91,12.0,807.0,199.0,246.0,102.0,2.5391,40000.0